.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-primarywhite);
  padding: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primaryblack);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  gap: 1rem;
}

.input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.button {
  padding: 12px;
  background-color: var(--color-primaryblack);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.message {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
