.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primarywhite);
  padding: 20px;
}

.title {
  font-size: 2rem;
  font-family: var(--font-heading);
  font-weight: bold;
  color: var(--color-primaryblack);
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  gap: 1rem;
}

.input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.button {
  padding: 12px;
  background-color: var(--color-primaryblack);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #0055aa;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
