.formWrapper {
  padding: 15px;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

.stepWrapper {
  text-align: center;
  flex: 1;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-primaryblack);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primarywhite);
  font-weight: 600;
  margin: 0 auto 6px;
  font-size: 16px;
}

.active {
  background: var(--color-secondaryhighlight);
  color: var(--color-primaryblack);
}

.stepLabel {
  font-size: 14px;
  font-family: var(--font-primary);
  line-height: 1.2;
}

.stepContent {
  margin-top: 10px;
}
